<div class="col-md-10 col-md-offset-1">
    <div ng-controller="effectController">
        <flash-message></flash-message>        
        <div class="row">
            <div class="col-md-8 pull-bottom">
                <input type="text" placeholder="Search" class="form-control form-input" ng-model="searchText.name"/>
                <br />
            </div>
            <button type="button" class="btn btn-success btn-print btn-print-fix pull-right"></button>
            <button type="button" class="btn btn-success btn-add btn-add-fix pull-right" ng-click="create()"></button>
        </div>
        <table class="stylable" col-resizable>
            <thead>
                <tr>
                    <th ng-click="sortData('name')">
                        Effect Name <div ng-class="getSortClass('name')"></div>
                    </th>
                    <th class="col-actions">Edit</th>
                    <th class="col-actions">Show</th>
                    <th class="col-actions">Delete</th>
                    <th class="col-actions">Print</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="effect in effects | orderBy : sortColumn : reverseSort | filter : searchText">
                    <td> {{effect.name}} </td>
                    <td class="col-actions">
                        <button type="button" class="btn btn-info btn-edit" ng-click="editEffect(effect, false)"></button>
                    </td>
                    <td class="col-actions">
                        <button type="button" class="btn btn-info btn-show" ng-click="editEffect(effect, true)"></button>
                    </td>
                    <td class="col-actions">
                        <button type="button" class="btn btn-danger btn-delete" 
                                mw-confirm-click="deleteEffect(effect)" mw-confirm-click-message="Delete this effect?"></button>
                    </td>
                    <td class="col-actions">
                        <button type="button" class="btn btn-success btn-print"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>