<div class="col-md-4 col-md-offset-4">
    <div ng-controller="groupController">
        <flash-message></flash-message>        
        <div class="row">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-list btn-list-fix" ng-click="listGroups()"></button>
            </div>
        </div>
        <div class="row">
            <form name="groupForm" ng-submit="submit(group)" novalidate>
                <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input type="text" id="name" name="name" class="form-control form-input" ng-model="group.name"
                            ng-disabled="isReadOnly" autocomplete="off"
                            required 
                            unique-record="{ url: '/api/group', currentRecordName: currentGroupName }"
                            ng-required-err-type="requiredGroup"
                            ng-uniqueRecord-err-type="uniqueGroup" />
                </div>
                <div class="form-group">
                    <label for="alias" class="control-label">Alias</label>
                    <input type="text" id="alias" name="alias" class="form-control form-input" ng-model="group.alias"
                            ng-disabled="isReadOnly" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="parent" class="control-label">Parent Group</label>
                    <input type="text" id="parent" name="parent" class="form-control form-input" ng-model="group.parent"
                            ng-disabled="isReadOnly" autocomplete="off" 
                            typeahead-min-length="0" 
                            uib-typeahead="group as group.name for group in groups | typeaheadFilter:{'name':$viewValue} | orderBy:smartOrder" 
                            typeahead-template-url="group-template.html"
                            required
                            unique-record="{ url: '/api/group/otherThanSelectedGroupAndItsDescendents', reverse: true, selectedOnly: isStockGroup, optionalPart: '/descendents', currentRecordName: 'Stock-in-Hand' }"
                            match-to="{ matchString: group.name, unequal: true}"
                            ng-required-err-type="requiredParentGroup"
                            ng-uniqueRecord-err-type="noGroupFound"
                            ng-matchTo-err-type="unMatchNameAndParent" />
                </div>
                <div class="row">
                    <div class="form-group form-controls">
                        <button id="submit" type="submit" class="btn btn-success btn-input submit" ng-hide="isReadOnly">Save</button>
                        <button id="clear" type="reset" class="btn btn-input clear" ng-class="isReadOnly ? 'btn-primary' : 'btn-danger'" ng-click="clear()" ng-init="Clear">{{clearButtonText}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="group-template.html">
    <a tabindex="-1">
        <div class="row">
            <span class="col-md-6 col-sm-6" ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
            <span class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1" ng-bind-html="match.model.effect.name  | uibTypeaheadHighlight:query"></span>
        </div>
    </a>
</script>
